{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                
                <h2 class="logo-font my-4">Vitality Physio Blogs</h2>
                
            </div>

        </div>

        <div class="row">
            {% for blog in blogs %}
            
            <div class="card bg-light scroll h-auto m-3" >
                <div class="card-body">
                    {% if request.user.is_superuser %}
                    <small class="my-5">
                        <a href="{% url 'edit_blog' blog.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                    </small>
                      {% endif %}
                  <h5 class="card-title">{{ blog.subject }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ blog.author }}</h6>
                  <p class="card-text">{{ blog.content}}</p>
                </div>
              </div>

              {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}