{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                <h2 class="logo-font my-4 text-center">Vitality Physio Blogs</h2>
                <hr>
            </div>

        </div>

        <div class="row">
            {% for blog in blogs %}
            
            <div class="card bg-light scroll h-auto m-3" >
                <div class="card-body">
                    <h5 class="card-title text-center">{{ blog.subject }}</h5>
                    <h6 class="card-subtitle mb-2 text-center">{{ blog.author }}</h6>
                    {% if request.user.is_superuser %}
                        <h6 class="text-center">
                            <a href="{% url 'edit_blog' blog.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                        </h6>
                    {% endif %}
                    <br>
                    <p class="card-text">{{ blog.content}}</p>
                </div>
            </div>

              {% endfor %}
        </div>
    </div>
{% endblock %}