{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">  
                <h2 class="logo-font my-4 text-center">Ooops! Something when wrong.</h2>
                <p class="text-center">
                    <a href="{% url 'home' %}" class="btn btn-primary rounded-5 mt-5">
                        <span class="text-uppercase">Let's go Back</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}