{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Vitality Physio {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="top-nav container-fluid w-100 fixed-top">
      <div id="topnav" class="navbar navbar-dark bg-white ">
          <div class="col-sm-8 col-lg-4 text-center ">
              <a href="{% url 'home' %}" class="nav-brand nav-link main-logo-link">
                  <img class="img-fluid-logo" src="/media/logo.png" alt="Vitality Physio">
              </a>
            </div>
            <div class="col-sm-8 col-lg-4">
                <ul class="list-inline list-unstyled text-center text-lg-center my-0">
                    <li class="list-inline-item">
                        <a class="{% if total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg nav-icon"></i></div>
                                <p class="my-0 nav-icon">
                                    {% if total %}
                                        ${{ total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg nav-icon"></i></div>
                                <p class="my-0 nav-icon">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    <a href="{% url 'view_contact' %}" class="dropdown-item">Contact Management</a>
                                    <a href="{% url 'add_blog' %}" class="dropdown-item">Blog Management</a>
                                {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
          </div>
        </div>


        <div class="row bg-white">
            <nav class="navbar navbar-light w-100 text-center navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
  </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <footer>
    <div class="container-fluid bg-footer footer">
        <div class="row bg-footer my-3">
           <div class="col container-footer footer-text text-center">
              <p> &copy Vitality Physio 2021.</p>
           </div>
        </div>
        <div class="row align-items-center">
           <div class="col footer-icons">
                <a href="{% url 'contact' %}"  id="contact">
                    <i class="fas fa-envelope-square">
                    <span class="sr-only">Contact Us</span>
                    </i>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-square">
                    <span class="sr-only">Facebook</span>
                    </i>
                </a>
                <a href="https://twitter.com" target="_blank">
                    <i class="fab fa-twitter-square">
                    <span class="sr-only">Twitter</span>
                    </i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram-square">
                    <span class="sr-only">Instagram</span>
                    </i>
                </a>
           </div>
        </div>
     </div>
    

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    
  </body>
</html>