{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Contact Management</h2>
                <h5 class="text-muted">View Customer Contacts</h5>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col">
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless table-hover table-light .w-auto">
                            <thead class="text-danger thead-dark">
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Message</th>
                                    
                                </tr>
                            </thead>
                    </div>
                    <tr>
                        {% for contact in contacts %}
                        <td>{{ contact.email }}</td>
                        <td class="py-3">
                            <p class="my-0">{{ contact.subject }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ contact.message }}</p>
                        </td>
                    </tr>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}