{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">

    </div>

    <div class="row">
        <div class="col-12">
            <div class=" mt-3 text-center">
                {% for c in current_categories %}
                    <h2 class="text-black mt-0 text-center">{{ c.name }}</h2>
                {% empty %}
                    <h2 class="text-black mt-0 text-center">All Products</h2>
                {% endfor %}
            </div>
        </div>
    </div>
   

        <div class="row page-section-grey">
            <div class="product-container col-10 offset-1">
                    <div class="row mt-1 mb-2"></div>
                <div class="row"> 
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card bg-light h-100 border-0 overflow-hidden">
                            <a href="{% url 'product_detail' product.id %}">
                                {% if product.image %}
                                <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img" alt="{{ product.name }}">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" class="card-img" alt="{{ product.name }}">
                                {% endif %}
                                <div class="card-img-overlay product-img">  
                                    <h5 class="card-title text-danger"><strong>{{ product.name }}</strong></h5>
                                    <p class="card-text text-danger">
                                        <strong>€{{ product.price }}</strong>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div> 
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}

                {% endfor %}
                </div>     
            </div>


            <!-- Back to top button -->
            <div class="btt-button shadow-sm rounded-0 border border-black">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-danger mx-auto my-auto"></i>
                </a>	
            </div>
        </div>
            


    {% endblock %}
    
    {% block postloadjs %}
    {{ block.super }}

    <!-- Back to to button js -->
    <script >
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

{% endblock %}