{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo-font">Products, Treatments & Classes</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">Back</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>

        <div class="row">
            <div class="product-container col-10 offset-1">
                    <div class="row mt-1 mb-2"></div>
                <div class="row"> 
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card bg-light h-100 border-0 overflow-hidden">
                            <a href="{% url 'product_detail' product.id %}">
                                {% if product.image %}
                                <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img" alt="{{ product.name }}">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" class="card-img" alt="{{ product.name }}">
                                {% endif %}
                                <div class="card-img-overlay product-img">  
                                    <h5 class="card-title text-danger"><strong>{{ product.name }}</strong></h5>
                                    <p class="card-text text-danger"><strong>€{{ product.price }}</strong></p>
                                </div>
                            </a>
                        </div>
                    </div> 
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}

                {% endfor %}
                </div>     
            </div>


            <!-- Back to top button -->
            <div class="btt-button shadow-sm rounded-0 border border-black">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-danger mx-auto my-auto"></i>
                </a>	
            </div>
        </div>
    </div>         


    {% endblock %}
    
    {% block postloadjs %}
    {{ block.super }}

    <!-- Back to to button js -->
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

{% endblock %}